@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 212 74% 39%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;

        --icon-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tcmlnaHQiPjxwYXRoIGQ9Im05IDE4IDYtNi02LTYiLz48L3N2Zz4=");
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.banner {
    @apply relative flex flex-col items-center text-center h-full pt-24 pb-10;
    min-height: 400px;
    background-color: #F9FAFB;
}

.banner-overlay::before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 37.63%, rgba(0, 0, 0, 0.15) 55.18%, rgba(0, 0, 0, 0.40) 73.62%, #000 93.81%), rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.selected {
    @apply shadow-sm border border-input rounded-md bg-background;
}

swiper-container::part(pagination) {
    display: none;
}

swiper-container::part(container) {
    padding-bottom: 10px;
    padding-top: 10px;
}

.wrapper {
    @apply mx-auto px-6 sm:px-8 md:px-10 lg:px-16 xl:px-20;
}

.section-title {
    @apply text-primary text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight;
}

.section-description {
    @apply text-gray-500 leading-snug;
}

.region-overlay::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(113deg, #f7f7f7 0%, #f7f7f7 28%, rgba(254, 254, 254, 0) 100%);
}

.location-slide {
    width: 242px;
    height: 480px;
    border-radius: 8px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    transition: all .5s;
}

.location-slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: all .3s;
    background: linear-gradient(11deg, rgba(19, 24, 38, 0.20) 0%, rgba(0, 0, 0, 0) 100%);
}

.location-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.location-slide a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.location-name {
    @apply text-2xl font-bold;
    line-height: 1.3;
}

.location-capital {
    @apply text-sm font-bold;
    line-height: 1.3;
}
